@import '../../style.scss';

.footer {

	&-kasa {
		display: flex;
		gap: 6px;
		align-items: center;
		justify-content: center;
	}

	&-wrapper {
		margin-top: auto;
		position: absolute;
		left: 0;
		right: 0;
		width: 100%;
		background-color: black;
		color: #fff;
		text-align: center;
		padding: 10px;

		@media only screen and (max-width: 435px) {
			padding-bottom: 48px;
			

		}

	}

	&-logos {
		display: flex;
		justify-content: center;
		gap: 5px;
	}

	&-logo {
		height: 2.25rem;
		margin-top: 3.75rem;

	}

	&-credit {
		margin-top: 2.5rem;
		font-size: 24px;
		font-weight: 500;

		@media only screen and (max-width: 435px) {
			width: 215px;
			margin: 0 auto;
			padding-top: 20px;

		}

	}
}