.footer {
	
    &-kasa{
        display: flex;
        gap: 6px;
        align-items: center;
        justify-content: center;
    }
	&-wrapper {
		position: absolute;		
		height: 12.5rem;		
		background-color: #000000;
		color: #ffffff;
		text-align: center;		
		left: 0;		
		width: 100%;
		bottom: 0;
		
		
		

		
        
	}
	&-logo {
		height: 2.25rem;
		margin-top: 3.75rem;
		
	}
	&-credit {
		margin-top: 2.5rem;
		font-size: 24px;
		font-weight: 500;
		
	}
}