@import'../../style.scss';

.error {
	text-align: center;
	@include main-typography;

	&-title {	
		margin: 0;	
		padding-block: 139px;		
		color: #FF6060;
		font-size: 288px;
		font-weight: 700;
	}

	&-subtitle {		
		color: #FF6060;
		font-weight: 500;		
		font-size: 36px;
	}

	&-link {
		display: block;		
		color: black;
		font-size: 18px;
		font-weight: 500;		
		text-decoration-line: underline;
		margin-block: 139px;
		

	}
}