@import'../../style.scss';

.error {
	text-align: center;
	@include main-typography;

	&-title {	
		margin: 0;	
		padding-block: 139px;		
		color: #FF6060;
		font-size: 288px;
		font-weight: 700;
		@media only screen and (max-width: 435px) {
			font-size: 98px;
			padding-block: 113px;	
        
        
		}
	}

	&-subtitle {		
		color: #FF6060;
		font-weight: 500;		
		font-size: 36px;
		@media only screen and (max-width: 435px) {
		font-size: 18px;		
        width: 260px;
		margin: 0 auto;
        
		}
	}

	&-link {
		display: block;		
		color: black;
		font-size: 18px;
		font-weight: 500;		
		text-decoration-line: underline;
		margin-block: 139px;
		@media only screen and (max-width: 435px) {
			
			margin-block: 113px;	
        
        
		}

	}
}