@import '../../style.scss';

.gallery,
.image {
	height: 415px;
	@media only screen and (max-width: 435px) {
			
		height: 255px;
			
	
	
	}	
}

.gallery {
	position: relative;
}

.image {
	width: 100%;
	object-fit: cover;
	border-radius: 25px;
}

.right-arrow,
.left-arrow {
	z-index: 1;
	position: absolute;
	top: 40%;
	width: 46px;
	height: 79px;
	flex-shrink: 0;
	cursor: pointer;
	user-select: none;
	@media only screen and (max-width: 435px) {
			
		width: 24px;
		height: 24px;	
	
	
	}	
}

.right-arrow {
	right: 50px;
	transform: rotate(180deg);
	@media only screen and (max-width: 435px) {
			
		right: 8px;	
	
	
	}	
}

.left-arrow {
	left: 50px;
	@media only screen and (max-width: 435px) {
			
		left: 8px;	
	
	
	}	
}

.slide {
	margin-top: 50px;
	
	transition-duration: 0.2s;
	&.active {		
		transition-duration: 0.2s;			
		margin-inline: auto;
	}
	@media only screen and (max-width: 435px) {
			
		margin-top: 27px;	
	
	
	}
}
.slide-counter-container {
	position: absolute;
	bottom: 15px;
	left: 50%;
	transform: translateX(-50%);
  }
  
  .slide-counter {	
	padding: 5px 10px;
	border-radius: 5px;
	color: white;
	font-size: 18px;
	font-weight: 500;
	@media only screen and (max-width: 435px) {
			
		color: transparent;	
	
	
	}
  }