@import '../../style.scss';
.lmj-logo {
    width: 210px;
    height: 68px;
    flex-shrink: 0;
}
.categorie{
    display: flex;
    gap: 57px;   
     
}

.nav-link{
    text-decoration: none;
    color: #000;
    font-size: 24px; 
    
    &.active {
        text-decoration: underline;             
      }  
} 

.lmj-navbar{
    display: flex;
    justify-content: space-between;
    padding-top: 45px;        
    
}
.categorie {
    font-family: Montserrat;
    p{
    color: #000;
    text-align: right;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%; /* 34.224px */
}
}