@import '../../style.scss';

.lmj-logo {
    width: 210px;
    height: 68px;
    flex-shrink: 0;
    @media only screen and (max-width: 435px) {
        
       width: 145px; 
       height: auto;

    }
}
.categorie{
    display: flex;
    gap: 57px;
    @media only screen and (max-width: 435px) {
                 
        gap: 26px;
        
    }   
     
}

.nav-link{
    @include main-typography;
    text-decoration: none;
    color: #000;
    font-size: 24px; 
    @media only screen and (max-width: 435px) {
        
        font-size: 12px;
        font-weight: 500;
    }
    
    &.active {
        text-decoration: underline;             
      }  
} 

.lmj-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;  
    margin: 0 auto;      
    max-width: 1240px;
    @media only screen and (max-width: 435px) {
        padding-top: 26px;
        justify-content: center; 
        gap: 26px;
        
    }
    
}
.categorie {
    font-family: Montserrat;
    p{
    color: #000;
    text-align: right;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%; /* 34.224px */
}
}