@import '../../style.scss';

.tag {
	@include main-typography;
	min-width: 4rem;
	margin-block: 0.75rem;
	margin-right: 0.625rem;
	padding: 0.125rem 0.625rem;
	border-radius: 40px;
	background: $primary-color;
	color: #ffffff;	
	line-height: 231.6%;
	text-align: center;
	
	
}