@import '../../style.scss';
body{
    margin: 0;
    padding: 0; 
    background: #FFF;
	padding-inline: 25px;   
}

@media (min-width: 1440px) {
    body {
        width: 1440px;
        margin: 0 auto;
    }
}
.backImg{
    background-image:url('../src/assets/IMG.png');
}

.home {	
		padding-bottom: 2.6875rem;
		@media only screen and (max-width: 435px) {
        
        padding: 0;
        
		}
}

.thumb-wrapper {	
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		max-width: 1240px;
		width: 100%;
		margin: 46px auto 0;		
		padding-block: 56px;
		padding-inline: 50px;		
		row-gap: 50px;				
		border-radius: 1.5625rem;
		background: #f7f7f7;
		@media only screen and (max-width: 435px) {

        flex-direction: column;
        margin: 0 auto;
        background: none;
		row-gap: 22px;
		padding: 0;
		}
}

.filling-empty-space-child {
    	
		width: 21.25rem;
		height: 0;
	
}
