@import '../../style.scss';

.annonce {

	&-title {
		@include main-typography;
		margin-top: 30px;
		margin-bottom: 0;
		color: $primary-color;
		font-size: 36px;
		font-weight: 500;
		line-height: 142.6%;

		@media only screen and (max-width: 435px) {

			font-size: 18px;


		}

	}

	&-location {
		@include main-typography;
		margin-top: 0.3125rem;
		margin-bottom: 0;
		color: black;
		font-size: 18px;
		font-weight: 500;
		line-height: 142.6%;

		@media only screen and (max-width: 435px) {

			font-size: 14px;

		}

	}

}

.tag-wrapper {
	display: flex;
	flex-wrap: wrap;

	@media only screen and (max-width: 435px) {

		flex-wrap: nowrap;


	}
}

.rating {

	&-host-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 1rem;
		margin-bottom: 1rem;

	}
}

.host {
	&-wrapper {
		display: flex;
		align-items: center;

		@media only screen and (max-width: 435px) {

			position: absolute;
			top: 516px;
			right: 15px;
		}


	}

	&-name {
		@include main-typography;
		margin-right: 0.75rem;
		color: $primary-color;
		font-size: 18px;
		font-weight: 500;
		text-align: end;

		@media only screen and (max-width: 435px) {

			font-size: 12px;


		}

	}

	&-picture {
		width: 64px;
		height: 64px;
		border-radius: 100%;

		@media only screen and (max-width: 435px) {

			width: 32px;
			height: 32px;

		}

	}
}

.sectionAnnonce {
	max-width: 1240px;
	margin: 0 auto;
}

.annonce-info-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: end;
	padding-top: 20px;
}

.tagTag {
	display: flex;
	justify-content: space-between;
	align-items: center;

	@media only screen and (max-width: 435px) {

		display: block;


	}
}

.description-equipments-wrapper {
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
	gap: 45px;

	@media only screen and (max-width: 435px) {

		flex-direction: column;
		margin: 0 auto;
		gap: 0;


	}
}

.custom-collapse {
	width: 45%;

	@media only screen and (max-width: 435px) {

		width: 100%;


	}
}

body {
	@media only screen and (max-width: 435px) {

		padding-inline: 19px;


	}
}